parameters:
    level: 6
    paths:
        - src
    ignoreErrors:
        - identifier: class.notFound

        # WordPress functions
        - '#Function __ not found#'
        - '#Function _doing_it_wrong not found#'
        - '#Function add_action not found#'
        - '#Function add_filter not found#'
        - '#Function add_option not found#'
        - '#Function add_options_page not found#'
        - '#Function add_settings_error not found#'
        - '#Function add_settings_section not found#'
        - '#Function add_shortcode not found#'
        - '#Function admin_url not found#'
        - '#Function apply_filters not found#'
        - '#Function check_ajax_referer not found#'
        - '#Function current_user_can not found#'
        - '#Function date_i18n not found#'
        - '#Function dbDelta not found#'
        - '#Function delete_option not found#'
        - '#Function delete_transient not found#'
        - '#Function did_action not found#'
        - '#Function do_action not found#'
        - '#Function do_settings_sections not found#'
        - '#Function doing_action not found#'
        - '#Function esc_attr not found#'
        - '#Function esc_html__ not found#'
        - '#Function get_attached_file not found#'
        - '#Function get_bloginfo not found#'
        - '#Function get_user_meta not found#'
        - '#Function get_option not found#'
        - '#Function get_page_by_path not found#'
        - '#Function get_plugin_data not found#'
        - '#Function get_plugins not found#'
        - '#Function get_posts not found#'
        - '#Function get_site_option not found#'
        - '#Function get_transient not found#'
        - '#Function get_user_by not found#'
        - '#Function home_url not found#'
        - '#Function is_admin not found#'
        - '#Function is_email not found#'
        - '#Function is_plugin_active not found#'
        - '#Function is_user_logged_in not found#'
        - '#Function is_user_member_of_blog not found#'
        - '#Function is_wp_error not found#'
        - '#Function nocache_headers not found#'
        - '#Function plugin_dir_path not found#'
        - '#Function plugin_dir_url not found#'
        - '#Function plugins_url not found#'
        - '#Function register_activation_hook not found#'
        - '#Function register_deactivation_hook not found#'
        - '#Function register_rest_route not found#'
        - '#Function register_setting not found#'
        - '#Function register_uninstall_hook not found#'
        - '#Function remove_filter not found#'
        - '#Function set_transient not found#'
        - '#Function settings_fields not found#'
        - '#Function submit_button not found#'
        - '#Function unzip_file not found#'
        - '#Function update_option not found#'
        - '#Function update_user_meta not found#'
        - '#Function wp_add_inline_script not found#'
        - '#Function wp_clear_scheduled_hook not found#'
        - '#Function wp_create_nonce not found#'
        - '#Function wp_delete_post not found#'
        - '#Function wp_die not found#'
        - '#Function wp_enqueue_script not found#'
        - '#Function wp_enqueue_style not found#'
        - '#Function wp_editor not found#'
        - '#Function wp_get_current_user not found#'
        - '#Function wp_get_environment_type not found#'
        - '#Function wp_get_schedules not found#'
        - '#Function wp_json_encode not found#'
        - '#Function wp_localize_script not found#'
        - '#Function wp_login_url not found#'
        - '#Function wp_next_scheduled not found#'
        - '#Function wp_normalize_path not found#'
        - '#Function wp_register_script not found#'
        - '#Function wp_remote_retrieve_body not found#'
        - '#Function wp_remote_retrieve_headers not found#'
        - '#Function wp_remote_retrieve_response_code not found#'
        - '#Function wp_remote_retrieve_response_message not found#'
        - '#Function wp_safe_redirect not found#'
        - '#Function wp_schedule_event not found#'
        - '#Function wp_script_is not found#'
        - '#Function wp_redirect not found#'
        - '#Function WP_Filesystem not found#'
        
        # WordPress Constants
        - '#Constant HOUR_IN_SECONDS not found#'
        - '#Constant MINUTE_IN_SECONDS not found#'
        - '#Constant OBJECT not found#'
        - '#Constant WP_PLUGIN_URL not found#'
