parameters:
    level: 6
    paths:
        - src
    ignoreErrors:
        - identifier: class.notFound

        # WordPress functions
        
        # WordPress Constants
        - '#Constant WP_PLUGIN_URL not found#'
